*.swl
*.swm
*.swn
*.swo
*.swp
.precomp
.gitignore
archive
scratch
releases
.vscode
blib/arch/.exists
blib/arch/auto/App/zipdetails/.exists
blib/bin/.exists
blib/lib/App/.exists
blib/lib/App/docs.pod
blib/lib/App/zipdetails.pm
blib/lib/Archive/SimpleZip.pm6
blib/lib/Archive/SimpleZip/Headers.pm6
blib/lib/Archive/SimpleZip/Utils.pm6
blib/lib/auto/App/zipdetails/.exists
blib/man1/.exists
blib/man1/zipdetails.1
blib/man3/.exists
blib/man3/App::docs.3
blib/man3/App::zipdetails.3
blib/script/.exists
blib/script/zipdetails
